body {
    background: #000;
}

h1 {
    font-size: 60px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    animation: pislakol 10s infinite;
    font-weight: bolder;
}
@keyframes pislakol {
    0% {
        text-shadow: 0 0 5px #fff, 0 0 10px #03e9f4
    }

    50% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #03e9f4, 0 0 30px #03e9f4, 0 0 40px #03e9f4, 0 0 55px #03e9f4
    }

    100% {
        text-shadow: 0 0 5px #fff, 0 0 10px #03e9f4
    }
}

#add-player-prompt {
    visibility: hidden;
    z-index: 1001;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    min-height: 20vh;
    border: 3px solid black;
    border-radius: 10px;
    background: #aaa1a1;
    margin: 1rem;
}

    #add-player-prompt > * {
        margin: 1rem;
    }

#back-cover {
    visibility: hidden;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background: #060606;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
}

a{
    position: static;
    display: inline-block;
    background-color: black;
    outline: none;
    padding: 20px 20px;
    margin: 40px 0;
    color: #03e9f4;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    font-weight: bold !important;
    letter-spacing: 3px;
    border-radius: 20px;
    border: 2px solid #03e9f4;
}

    a:hover{
        background-color: #03e9f4;
        color: #000;
    }

label {
    color: #03e9f4;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold !important;
    letter-spacing: 1px;
}

textarea {
    width: 100%;
    background: #000;
    border: 2px solid #03e9f4;
    color: #03e9f4 !important;
}
button{
    position: relative;
    display: inline-block;
    background-color: black;
    outline: none;
    padding: 20px 20px;
    margin: 40px 0;
    color: #03e9f4 !important;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    font-weight: bold !important;
    letter-spacing: 3px;
    border-radius: 20px;
}

    button:hover{
        background-color: #03e9f4 !important;
        color: #050801;
        box-shadow: 0 0 10px #03e8f48e, 0 0 25px #03e8f48e;
    }

    button.form-control:focus{
        background: #005f8b !important;
        border: 2px solid #005f8b !important;
        outline: 0px;
        box-shadow: 0 0 5px #fff, 0 0 15px #00acfc, 0 0 20px #00acfc, 0 0 40px #00acfc;
    }

input {
    border: 3px solid #03e9f4 !important;
    background: black !important;
    color: dimgray;
}

    input:hover {
        box-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 20px #03e9f4;
    }

    input.form-control:focus {
        box-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 20px #03e9f4, 0 0 35px #03e9f4;
        border: 0.2em solid #03e9f4;
    }
