body {
    background-color: #000;
}

#myCanvas {
    align-content: center !important;
    width: 520px !important;
    height: 520px !important;
    border: solid 1px #03e9f4;
    box-shadow: 2px 2px rgba(0,0,0,150);
}

table {
    height: 100%;
    width: 100%;
    border: none;
}

#lista {
    width: 20%;
    height: auto;
}

section#wrapper {
    min-width: 700px;
}


h2 {
    color: #03e9f4;
    display: block;
    padding: 10px 20px;
    text-align: center;
    transition: all .25s ease;
}

li {
    background: linear-gradient(to bottom, #e0caca 0%,#ffffff 100%);
}
