<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AIMoba</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/stilus.css" />
</head>
<body>
    <section id="wrapper">
        <nav>
            <ul>
                <li>
                    <a class="dropdown" href="">New game</a>
                    <ul>
                        <li><a href="">1 player</a></li>
                        <li><a href="">2 player</a></li>
                        <li><a href="">Multiplayer</a></li>
                    </ul>
                </li>
                <li><a href="">(elso)</a></li>

                <li><a href="">(masodik)</a></li>
                <li><a href="">Your rank</a></li>
                <li><a href="">Rules of the game</a></li>
            </ul>
        </nav>
    </section>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
