
<div class="row">
    <div class="col-8">
        <canvas id="myCanvas" width="520" height="520">
        </canvas>
    </div>
</div>
<p hidden id="name">@ViewBag.name</p>
<p hidden id="roomname">@ViewBag.roomname</p>

<script src="~/js/grid.js"></script>
<script src="~/js/main.js"></script>
<script src="~/js/clientSignalR.js"></script>
