<h1>FakeAutentication</h1>
<p>Becses nevem:</p>
<form asp-controller="Home" method="post">
    <input id="name" name="name" type="text" />
    <input type="submit" value="Bejelentkezés" asp-action="CreateRoom" />
</form>