<div class="custom-container">
    <table>
        <tr>
            <td id="lista">
                <ol>
                    <h2>Leaderboard</h2>
                    <li>Bálint</li>
                    <li>Kristóf</li>
                    <li>Tomi</li>
                </ol>
            </td>
            <td>
                <canvas id="myCanvas">
                </canvas>
            </td>
        </tr>

    </table>
</div>
