<table>
    <tr>
        <td id="lista">
            <ol>
                <h2>Leaderboard</h2>
                <li>Bálint</li>
                <li>Kristóf</li>
                <li>Tomi</li>
            </ol>
        </td>
        <td>
            <canvas id="myCanvas" width="520" height="520"></canvas>
        </td>
    </tr>

</table>

