<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
   
    <link rel="stylesheet" type="text/css" href="css/stilus.css"/>
    <title>Amőba</title>


</head>


<body>
   
    <table>
        <tr>
            <td id="lista">
                <ol>
                    <h2>Leaderboard</h2>
                    <li>Bálint</li>
                    <li>Kristóf</li>
                    <li>Tomi</li>
                </ol>
            </td>
            <td>
                <canvas id="myCanvas">
                </canvas>
            </td>
        </tr>

    </table>


</body>


</html>