
<h1>Most a @ViewBag.roomName szobában tartózkodsz</h1>
<p>Gyere meghívlak:</p>
<input id="inviteName" type="text" />
<button id="inviteButton">meghívás</button>
<h1 id="kicsoda">Kicsoda</h1>
<p hidden id="roomName">@ViewBag.roomName</p>
<p hidden id="name">@ViewBag.name</p>
<button id="readyButton" class="btn btn-primary">Készen állok</button>
<button id="startButton" class="btn btn-success">Játék elkezdése</button>

<script src="~/js/invite.js"></script>