

<link rel="stylesheet"
      href="~/css/custom-lobby-stiles.css" />
<script src="~/js/invited.js"></script>

<!-- Felugró ablak eleje -->

<div id="back-cover"></div>
<div id="add-player-prompt" class="pt-3 px-3 d-flex flex-column justify-content-around">
    <h3 class="text-center custom-glowing-title">Meghívtak!</h3>
    <form asp-controller="Home" method="post">
        <div class="form-group">
            <label>Szia meg lettel hívva a <span id="invitingroom"></span> nevű szobába, elfogadod a meghívást?</label>
            <input hidden id="playerName" name="playerName" type="text" value="@ViewBag.name" />
            <input hidden id="roomName" name="roomName" type="text" value="" />
            <div class="pt-3 clearfix">
                <input type="button" id="cancel-player-addition" onclick="toggleLayers()" value="Mégse" class="btn btn-danger p-2 d-inline float-right">
                <input type="submit" id="invite-player" asp-action="RedirectToJoinRoom" value="Elfogadás" class="btn btn-success p-2 d-inline float-right mr-3">
            </div>
        </div>
    </form>
</div>

<!-- Felugró ablak vége -->

<div class="container">
    <div class="text-center">
        <h1>Hello @ViewBag.name!</h1>
        <div class="container text-center ">
            <a href="@Url.Action("CreateRoom", "Home", new {roomName = ViewBag.name})" class="w-50 mb-3">
                Játék létrehozása
            </a>
            <a href="#" class="w-50 mb-3">
                Coming soon
            </a>
            <a href="#" class="w-50 mb-3">
                Coming soon
            </a>
        </div>
    </div>
</div>